@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BebasNeue";
  src: url("./assets/fonts/BebasNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSansBold";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght-bold.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Hide scrollbars but enable scrolling */
.scrollable-div {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.scrollable-div::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

body {
  background-color: hsl(var(--background));
  height: 100svh;
  font-family: "PlusJakartaSans", sans-serif !important;
  font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BebasNeue", sans-serif !important;
}

input,
textarea,
select,
label,
div,
button {
  font-family: "PlusJakartaSans", sans-serif !important;
}

#root {
  height: 100%;
}
@layer base {
  :root {
    --background: #f7f7f7;
    --alert: #ffcdd2;
    --card: #ffffff;
    --primary: #25326a;
    --primary-text: #354898;
    --primary-gradient: #8a95c3;
    --secondary: #eba328;
    --secondary-pink: #ffe5f3;
    --secondary-blue: #ddebf8;
    --secondary-orange: #fce9dc;
    --dark-bg: #1e1e1e;
    --secondary-alt: #202c5d;
    --muted: #f7f5f2;
    --muted-alt: #999999;
    --accent: #016f09;
    --accent-alt: #008e54;
    --accent-2: #39aba3;
    --destructive: #ff4c4c;
    --radius: 8px;
    --input-bg: #fafbfc;
    --border: #e6e6e6;
    --black-text: #171717;
  }
}

.sigCanvas {
  margin-inline: auto;
  margin-top: 1rem;
  border-bottom: 2px solid #d3d3d3;
  width: 70%;
  height: 70%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fafbfc inset !important;
}
